@import '../Style.scss';

#access-title{
    font-family: $roboto;
    font-size: $fmedium;
    margin: $sp-medium auto;
    padding: $sp-large;
    background-color: $dark;
    color: $light;
}


#tagline{
    font-size: $fmedium;
}

.entry-page{
    background-image: url('/img/front_back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 90%;
    margin: 0 auto;
    color: $dark;
    font-family: $roboto;
    padding: 0 $sp-large;
}

.form-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $roboto;
    font-size: $fxsmall;
}

.access-input{
    width: $sz-large;
    margin: $sp-xsmall;
}


@media only screen and (min-width: 600px){

    .form-field{
        font-size: 27px;
        margin-left: 200px;
    }

    .access-input{
        width: $sz-xxlarge;
        font-size: 22px;
        height: 40px;
    }

}



