@import '../Style.scss';

.friend-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// card style 

.card {
    background-color: $dark;
    border: 2px solid $darker;
    border-radius: 5px;
    margin: $sp-small;
    padding: $sp-medium;
    max-width: $sz-large;
    color: $light;
    font-family: $openSans;
    font-size: $fsmall;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

.card-username {
    background-color: $light;
    color: $dark;
    border: 1px solid $orange;
    border-radius: 5px;
    margin: $sp-xsmall 0;
}

.card-name, .card-city {
    margin: $sp-xsmall 0;
    font-family: $roboto;
    font-size: $fxsmall;
    text-transform: capitalize;
}

.card-city {
    text-decoration: underline;
    margin-top: $sp-small;

}

.profile-pic{
    border-radius: 50%;
    border: 4px solid $light;
    width: 100px;
    height: 100px;
}


// end card style

@media only screen and (min-width: 600px) {
    .friend-showcase {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .card {
        background-color: $dark;
        border: 4px solid $darker;
        border-radius: 5px;
        margin: $sp-small;
        padding: $sp-large;
        max-width: $sz-xlarge;
        font-size: $fmedium;
    }

    .card-username {
        background-color: $light;
        color: $dark;
        padding: $sp-small $sp-medium;
        border: 3px solid $orange;
        margin: $sp-small 0;
    }

    .card-name, .card-city {
        margin: $sp-medium 0;
        font-size: $fmedium;
        text-transform: capitalize;
    }
    
    .card-city {
        text-decoration: underline;
        margin-top: $sp-small;
    
    }

}

