@import '../Style.scss';

.navbar{
    width: 100%;
    background-color: $dark;
    margin: 0 auto;
    position: relative;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: $sp-xlarge;
}

.navbar li{
    font-family: $roboto;
    width: $sz-small;
    margin: $sp-small;
    border-radius: 5px;
    text-align: center;
    font-size: $fxsmall;
}

.icon {
    background-color: $light;
}

#username, #logout-btn {
    position: absolute;
    top: 0;
    color: $light;
    background-color: transparent;
}

#username {
    left: 0;
}

#logout-btn {
    right: 0;
    background-color: $light;
    cursor: pointer;
    padding: 2px;
}

#logout-btn button{
    background-color: $light;
    border: none;
}

#logout-btn > button {
    background-color: none;
}

@media only screen and (min-width: 600px) {
    .navbar{
        width: 100%;
        margin: 0 auto;
    }

    #logout-btn{
        padding: $sp-xsmall;
    }

    .navbar li{
        width: $sz-large;
        margin: $sp-medium;
        padding: $sp-small $sp-medium;
        border-radius: 5px;
        text-align: center;
        font-size: $fsmall;
    }
}