@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$dark:#383845;
$darker: #231E31;
$green: rgba(56, 67, 37, 1);
$brown: #483828;
$orange: #FD9C60;
$light: #E5EDEF;

$fxsmall: 10px;
$fsmall: 13px;
$fmedium: 15px;
$flarge: 25px;

$sp-xsmall: 5px;
$sp-small: 10px;
$sp-medium: 18px;
$sp-large: 30px;
$sp-xlarge: 43px;

$sz-small:50px;
$sz-medium:100px;
$sz-large:150px;

$roboto:  'Roboto Mono', monospace;
$openSans: 'Open Sans', sans-serif;
